doctype html
html
  head
    title= title
  body
    block content
    //- Scripts
    //- Libs
    script(src='https://cdn.socket.io/socket.io-1.3.7.js')
    //- Custom
    script(src='/scripts/main.js')
    script(src='/scripts/config.js')
    block script